<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}Zaluzhany{% endblock %}</title>

    <!-- Підключення CSS стилів -->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{% include 'header.html' %}


<div class="content">
    {% block content %}
    <!-- Це місце для вміщення контенту з інших сторінок -->
    {% endblock %}
</div>

</body>
</html>
