{% load static %}

<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: transparent; margin-right: 200px; margin-left: 200px">
    <div class="container-fluid mx-5">
        <a class="navbar-brand mx-5" href="#navbar">Navbar</a>
        <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"-->
        <!--                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--            <span class="navbar-toggler-icon">TEST</span>-->
        <!--        </button>-->

        <div class="collapse navbar-collapse justify-content-end mx-5" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-bg">
                    <a class="nav-link " aria-current="page" href="#">Головна</a>
                </li>
                <li class="nav-item nav-item-bg">
                    <a class="nav-link active-el" href="#">Новини</a>
                </li>
                <li class="nav-item nav-item-bg ">
                    <a class="nav-link" href="#">Історія</a>
                </li>
                <li class="nav-item dropdown nav-item-bg">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Розклад
                    </a>
                    <ul class="dropdown-menu nav-item-bg" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Автобусний</a></li>
                        <li><a class="dropdown-item" href="#">Церковний</a></li>
                    </ul>
                <li class="nav-item nav-item-bg">
                    <a class="nav-link" href="#">ФК "Тризуб"</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--ddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--ddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--ddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--ddddddddddddddddddddddddddddddddddddddddddddddddd-->

{% load static %}


<header>
    <nav class="navbar" style="background-color: red; margin: 5px 15%">
        <div class="nav-logo">
            <a class="nav-logo-link" href="/">
                <img src=logo.jpeg" alt="Village Logo">
            </a>

        </div>
        <div class="nav-navigation">
            <ul class="nav-navigation-list">
                <li class="nav-item">
                    <a class="nav-item-link" href="#">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="#">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="#">Історія</a>
                </li>
                <li class="nav-item-dropdown">
                    <a href="javascript:void(0)" class="dropdown-btn">Розклад</a>
                    <div class="dropdown-content">
                        <a href="#">Автобусний</a>
                        <a href="#">Церковний</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="#">ФК "Тризуб"</a>
                </li>
            </ul>
        </div>
    </nav>
</header>









<!--dddddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--dddddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--dddddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--dddddddddddddddddddddddddddddddddddddddddddddddddddddddd-->
















<!--<nav class="navbar navbar-inverse">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--            &lt;!&ndash;            <a class="navbar-brand" href="">Залужани</a>&ndash;&gt;-->
<!--            <img src="{% static 'logo1.jpeg' %}" alt="Logo" class="navbar-brand">-->
<!--        </div>-->
<!--        <ul class="nav navbar-nav">-->
<!--            <li><a href="#">Головна</a></li>-->
<!--            <li><a href="#">Новини</a></li>-->
<!--            <li><a href="#">Історія</a></li>-->
<!--            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Розклад <span-->
<!--                    class="caret"></span></a>-->
<!--                <ul class="dropdown-menu">-->
<!--                    <li><a href="#">Автобусний</a></li>-->
<!--                    <li><a href="#">Церковний</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a href="#">ФК Тризуб</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
