{% load static %}


<header>
    <nav class="navbar" style="background-color: red; margin: 5px 15%">
        <div class="nav-logo">
            <a class="nav-logo-link" href="/">
                <img src=logo.jpeg" alt="Village Logo">
            </a>

        </div>
        <div class="nav-navigation">
            <ul class="nav-navigation-list">
                <li class="nav-item">
                    <a class="nav-item-link" href="#">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="#">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="#">Історія</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Розклад</a>
                    <div class="dropdown-content">
                        <a href="#">Автобусний</a>
                        <a href="#">Церковний</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="#">ФК "Тризуб"</a>
                </li>
            </ul>
        </div>
    </nav>
</header>




