body {
    background-color: silver;
}

.navbar {
    background-color: yellow;
    display: flex; /* Встановлюємо контейнеру .navbar властивість flex */
    align-items: center; /* Вирівнюємо діти вертикально по центру */
}


.nav-logo-link {
    width: auto;
    height: auto;

    background-color: pink;
}

.image-logo {
    width: 25%;
    height: auto;
    vertical-align: middle;

    background-color: hotpink;

}


.nav-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block; /* Зробити елементи меню горизонтальними */
    margin-right: 20px; /* Задаємо відступи між елементами */
}